body {
    background-image: url(background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.java {
    display: none;
}
.overlay {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    /* background-color: rgba(97, 96, 96, 0.26); */
    backdrop-filter: blur(20px);
    overflow: hidden;
    transition: 0.1s;
}
.overlay-content {
    position: relative;
    top: 0;
    text-align: left;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}
.overlay:hover {
    color: aqua;
}
.close {
 color: white; 
 font-size: 50px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}
.close:hover {
    color: aqua;
}
.overlay a {
    padding: 8px;
    scroll-padding-top: -20px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-weight: bold;
    display: block;
    padding-bottom: 30px;
    text-transform: uppercase;
    padding-left: 40px;

}
.overlay a:hover , a:focus {
    color: aqua;
    width: 85%;
    border-right: 5px solid rgb(199, 199, 199);
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
}
.open a {
    color: white;
    text-decoration: none;
}
.open a:hover, a:active {
    color: aqua;
}
.navbar {
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.logo {
    margin-left: 100px;
    margin-right: 200px;
    
}
.line {
    border-bottom: 1px solid white;
    width: 700px;
    z-index: 100;
}
.nav a {
    padding-bottom: 30px;
    color: white;
    text-decoration: none;
    text-align: center;
} 

.nav a:hover {
    border-bottom: 3px solid rgb(160, 157, 157);
    border-right: none;
}
.emma a {
    border-bottom: 3px solid white;

}
.sam a {
    border-right: 3px solid white;
    color: aqua;
}
.nav {
    display: flex;
    /* background-image: linear-gradient( rgb(19, 21, 34) , rgb(73, 87, 113), rgb(21, 37, 71)); */
    padding: 10px 50px;
    height: 70PX;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 15px;
    width: 100%;
    backdrop-filter: blur(20px);

    /* opacity: 0.7; */
}
.nav b {
    font-size: 20px;
} 
.body1 {
    /* display: flex;
    justify-content: space-around; */
    align-items: center;
}
.word {
    font-weight: 100;
}
.word h2 {
    color: white;
    font-size: 40px;
    /* margin-left: 100px; */
}
.word b {
    opacity: 0.3;
    padding-right: 20px;
}
.word h3 {
    color: white;
    font-size: 25px;
    margin-bottom: -20px;
}
.word h1 {
    color: white;
    font-size: 60px;
}
.word p {
    color: rgb(190, 189, 189);
    font-size: 20px;
}
.bord {
    display: flex;
    gap: 20px;
    margin-left: 100px;
}
button {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    opacity: 0.3;
}
button:focus  {
    background-color:white;
    opacity: 0.9;
}
button:hover {
    background-color: white;
    opacity: 0.5;
}

.gather {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.one {
    display: block;
    display: flex;
}
.body1 {
    margin-top: 100px;
}
.daniel {
    display: none;
}
.daniel:nth-child(1){
    display: block;
}
button:nth-child(1):focus{
    background-color: white;
    opacity: 0.9;
}
.link {
    margin-left: 200px;
    margin-top: -80px;
    display: flex;
    gap: 20px;
}
.daniel h2 {
    color: burlywood;
    margin-bottom: -30px;
    margin-top: 150px;
    font-size: 30px;
    font-weight: 100;
}
.daniel h1{
    font-weight: 100;
}

@media screen and (max-width:900px) {
    .line {
        display: none;
    }
    .nav {
        gap: 20px;
    }
    .body1 {
        flex-direction: column;
    }
    .logo {
        margin-left: 10px;
    }
    .word2 {
        margin-left: 20px;
    }
br {
    display: none;
}
.link {
    margin-top: 50px;
    margin-left: 10px;
}
.daniel {
    gap: 50px;
}
}
@media screen and (max-width:500px) {
    .java {
        display: block;
    }
    .nav {
        display: none;
    }
    .navbar {
        justify-content: space-between;
        margin-top: 5px;
    }
    .logo {
        margin-left: 0;
        margin-right: 0;
    }
    .word h1 {
        font-size: 50px;
    }
    img {
        width: 100%;
    }
    .gather {
        flex-direction: column;
    }
    .word {
        /* align-items: end; */
        text-align: center;
        padding: 100px 50px;
    }
    br {
        display: none;
    }
    .daniel p{
        font-size: 20px;
    }
    .img img {
        width: 100%;
    }
    .link {
    margin-left: 10px;
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.body1 {
    display: flex;
    flex-direction: column-reverse;
}
}